- @resorts.each do |resort|
  .col-lg-4.resorts
    %a{:href => resort_path(resort)}
      = image_tag("#{resort.logo}", :class => "img-rounded resort_logos_med")
    %h1= resort.name
    %h3= "Snowfall: #{resort.daily_snowfall} in."
