%body.all-resorts
  .resorts-site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading Your Pow Adventures
          .container-fluid
            .row
              .col-sm-2.blog-sidebar
                .sidebar-module
                  %img.img-rounded{:src => @user.avatar.url(:thumb)}
                  %h3 Your Resorts:
                  - @favorites.each do |favorite|
                    %a{:href => resort_path(favorite)}
                      = image_tag("#{favorite.logo}", :class => "img-rounded resort_logos_med")
                    %h4= "#{favorite.daily_snowfall} in."
              .col-sm-10.user-photo-gallery
                = link_to "Upload Your Adventure", new_user_photo_path, class: "btn btn-large btn-default"
                %br/
                - @photos.each do |photo|
                  %img.img-rounded.resort{:src => photo.photo.url(:medium)}
