%body.all-resorts
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .inner.cover
          %h1.cover-heading For Those Who Shred.
          %p.lead Today's top three snowfalls:
          .container.marketing
            .row
              - @top_three.each do |resort|
                .col-lg-4.resort
                  = image_tag("#{resort.logo}", :class => "img-rounded resort_logos_sm")
                  %h2= resort.name
                  %h3= "Past 24 hours: #{resort.daily_snowfall} in."
                  %p
                    = link_to "Details & Map", resort_path(resort), class: 'btn btn-default'
                  %br/
              #map
                = javascript_include_tag "root_map.js"
