.resorts-site-wrapper
  .site-wrapper-inner
    .cover-container
      .inner.cover
        %h1.cover-heading Your Snowfalls
        .row
          .container-fluid
            - @resorts.each do |resort|
              .col-sm-4.user-resorts
                = image_tag("#{resort.logo}", :class => "img-rounded resort_logos_med")
                %h1= resort.name
                %h3= "Snowfall: #{resort.daily_snowfall} in."
                = link_to "Details & Map", resort_path(resort), class: 'btn btn-default'
                = link_to "Tweet Your Pursuit", new_tweet_path(:resort => "#{resort.name}"), class: 'btn btn-info'
