!!!
%html{:lang => "en"}
  %head
    %title Pow Pursuit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/shared/navbar'
    = yield
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src => "../../dist/js/bootstrap.min.js"}
    %script{:src => "../../assets/js/docs.min.js"}
